@import url('https://fonts.googleapis.com/css?family=Kanit');

body{
  background-color: black;
  margin: 0px;
  padding: 0px;
}

nav ul li .ima1{
  padding-top: 5px;
  margin-left: 150px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  text-align: center;
}

nav li {
  float: left;
  display: inline;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;

}

li a:hover {
  background-color: #862222;
}

/*.db1{
  margin: 0px;
  padding: 0px;
  background-color: yellow;
  width: 100%;
  height: 1280px;
  font-family: 'Kanit', sans-serif;
}*/
