@import url('https://fonts.googleapis.com/css?family=Kanit');

body{
  background-color: black;
  margin: 0px;
  padding: 0px;
   font-family: 'Kanit', sans-serif;
}

nav ul li .ima1{
  padding-top: 5px;
  margin-left: 150px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  text-align: center;
}

nav li {
  float: left;
  display: inline;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
}

#navbar nav li a:hover {
  background-color: #862222;
}

#footer {
  width: 100%;
  height: 100%;
  background-color: pink;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  text-align: center;
  border-radius: 20px;
}

/*#footer ul{
  list-style-type: none;
}*/

#footer li{
  align : center;
  display: inline;
}

/*#footer li a{
  text-align: center;
}*/

#footer ul li a .imgcon{
  padding: 5px;
  margin: 5px;
  width: 30px;
  height: 30px;
}


/*#footer .copyright{
  font-size: 15px;
}*/

#content{
    align-content: center;
    background-color: white;
    margin: 10px;
}

.mySlides{
    height: 600px;
    width: 1000px;
}
.slide{}


/*tr{
  text-align: center;
}*/